# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/books/html/
data/quotes/html/
results/figures/
results/models/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db